In [11]:
import requests
from dotenv import load_dotenv
import os
import pandas as pd

load_dotenv()

MY_API_KEY = os.getenv('TMDB_API')

key = "Bearer " + MY_API_KEY

In [27]:
movies_df = pd.read_csv("../../data/interim/movies.csv", sep=',', header=0)
links_df = pd.read_csv("../../data/interim/links.csv", sep=',', header=0)

In [41]:
links_df

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [29]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [39]:
i_cols = [
    'item_id', 'title', 'release_date', 'video_release_date', 'IMDb_URL',
    'unknown', 'Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy',
    'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
    'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'
]

items_df = pd.read_csv('../../data/raw/ml-100k/u.item', sep='|', names=i_cols, encoding='latin-1')

items_df = items_df.drop(['item_id', 'video_release_date'], axis=1)

Necesitamos juntar movies_df con items_df por el título y luego el dataframe resultante con el links_df por el movieId

In [40]:
merged_df = movies_df.merge(items_df, on='title', how='inner')

In [47]:
final_df = merged_df.merge(links_df, on='movieId', how='inner')
final_df = final_df.drop(['IMDb_URL', 'genres'], axis=1)

In [48]:
final_df

,movieId,title,release_date,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,...,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,imdbId,tmdbId
0,1,Toy Story (1995),01-Jan-1995,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,114709,862.0
1,2,Jumanji (1995),01-Jan-1995,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,113497,8844.0
2,3,Grumpier Old Men (1995),01-Jan-1995,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,113228,15602.0
3,4,Waiting to Exhale (1995),15-Jan-1996,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,114885,31357.0
4,5,Father of the Bride Part II (1995),01-Jan-1995,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,113041,11862.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191,2310,"Mighty, The (1998)",09-Oct-1998,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,119670,9821.0
1192,2320,Apt Pupil (1998),23-Oct-1998,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,118636,9445.0
1193,2563,Dangerous Beauty (1998),23-Jan-1998,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,118892,8583.0
1194,4970,"Blue Angel, The (Blaue Engel, Der) (1930)",01-Jan-1930,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,20697,228.0
1195,26958,Emma (1996),02-Aug-1996,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,118308,12254.0

In [50]:
final_df.to_csv("../../data/processed/processed_movies.csv", index=False)